html::-webkit-scrollbar{
  width: 6px;
  height: 6px;
}
html::-webkit-scrollbar-thumb{
  width: 6px;
  border-radius: 5px;
  background: linear-gradient(to bottom,cadetblue, #0e65e8,blue);
}
html{
  scroll-behavior: smooth;
}

/* light mode */
ul.navbar-dropdown{
  box-shadow: 0 20px 30px rgba(0,0,0,.1),0 3px 8px rgba(0,0,0,.05);
}
header.navbar{
  box-shadow: 0 5px 10px rgba(0,0,0,.05);
}
/* dark mode */
.dark ul.navbar-dropdown{
  box-shadow: 0 20px 30px rgba(120,120,120,.1),0 3px 8px rgba(120,120,120,.05);
}
.dark header.navbar{
  box-shadow: 0 5px 10px rgba(255,255,255,.05);
}
